@charset "utf-8";


section {
    width: 65%;
    border: solid;
    border-width: 5px 3px 3px 5px;
    border-radius:95% 4% 97% 5%/4% 94% 3% 95%;
    padding: 40px;
    border-color: #bfb59d;
}
section h1 {
    font-family:"EduTASbeginner-Regular", sans-serif ;
    font-weight: bold;
    text-transform: uppercase;
}

section h2 {
    font-family:"EduTASbeginner-Regular", sans-serif ;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.2em;
    color: #596e79;
    padding: 10px;
}

#listvauban {
    background-color: #d2c5b5;
    border: 1px solid #596e79;
    border-radius: 15px;
    margin-right: auto;
    margin-left: auto;
    height: 60px;
    width: 69%;
   
   
    animation: colorPropagation 6s linear infinite; 
}

@keyframes colorPropagation {
    0% {
        background-color: #d2c5b5; /* Couleur de départ */
    }
    25% {
        background-color: #bfb59d; /* Couleur au quart du chemin */
    }
    50% {
        background-color: #8a8068; /* Couleur à mi-chemin */
    }
    75% {
        background-color: #bfb59d; /* Couleur aux trois quarts du chemin */
    }
    100% {
        background-color: #d2c5b5; /* Couleur de retour à la fin */
    }
}



#listvauban li {
    display: inline-block;
    list-style-type: none;
}

#listvauban li a {
    font-size: 1.3em;
    padding: 5px;
    text-decoration: none;
    text-transform: uppercase;
    color: #f0ece2;
    transition: color 0.3s ease-in-out;
    
    
}




#listvauban li a:hover {
    border-radius: 8px;
    position: relative;
    top: 5px;
}


#pres {
    margin-right: 40px;
}

#genie {
    margin-right: 40px;
}

#reform {
    padding-right: 50px;
}
#vidV {
    margin-left: 30px;
}
#titlesection {
    padding-top: 20px;
    padding-left: 5px;
    color: #596e79;
}
section i[class="fa-solid fa-circle-up fa-fade"] {
    padding-left: 10px;
    color: #998e74;
}
section video {
    margin-top: 40px;
    margin-left: 170px;
    width: 600px;
    height: 300px;
    border-radius: 20px;
    border: white solid 8px;
   
}
#id_pres {
    text-align: center;
    font-family:"EduTASbeginner-Regular", sans-serif ;
    font-weight: bold;
    text-transform: uppercase;
    color: #596e79;
}

.color-changing-link {
    text-align: center;
    padding: 5px;
    background-color: #bfb59d;
    color: #596e79;
    border-radius: 8px;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}



/* Animation continue */
@keyframes colorOscillation {
    0% {
        background-color: #bfb59d;
    }
    50% {
        background-color: #8a8068;
    }
    100% {
        background-color: #bfb59d;
    }
}

.color-changing-link {
    animation: colorOscillation 4s linear infinite; 
}

#my_picture {
    width: 341px;
    height: 270px;
}

/* Styles pour le pied de page (footer) */
#footercontainer {
   
    clear: both;
    display: flex;
}

#imgbrg {
    width: 300px;
    height: 150px;
    border-radius: 25px;
    border: white solid;
    transition: transform 1s;
}
#imgbrg:hover {
    transform: scale(1.1);
}

#pictures_div {
   
    margin: 5px 130px 20px 180px;
    


}

.footerimg {
    height: 100px;
    width: 150px;
    border-radius: 25px;
    transition: transform 1s;
    border: white solid;
    z-index: 1;
}

.imagegallery{
    display: flex;
    flex: wrap;
    gap: 20px;
    left:0 px;
}
#pictures_div ul {
    list-style: none;
}
.imagegallery > li {
    position: relative;
}
.imagetext{
    position: absolute;
    width: 100%;
    height:100%;
    top: 0;
    left:0;
    transform: scale(0);
    transition: all 0.2s 0.1s ease-in-out;
    color: white;
    border-radius: 30px;
    font-size: 1.4em;
    font-weight: bold;
    /*center text*/
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Dancing Script', cursive;

}

.imagegallery li:hover .imagetext{
    transform: scale(1);
    z-index: 4;
   
}
.imagegallery li:hover .footerimg {
    transform: scale(2);
    z-index: 4;
    position: relative;
}
#travel {
    margin-left: 140px;
}
footer h1 {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 2.5em;
    font-weight: normal;
    color:#596e79 ;
    
    width: 300px;
}
#villefrancheimg {
    width: 300px;
    height: 150px;
    border-radius: 25px;
    border: white solid;
    transition: transform 1s;
}
#villefrancheimg:hover {
    transform: scale(1.1);
}
