@charset "utf-8";


section {
    
    border: solid;
    border-width: 5px 3px 3px 5px;
    border-radius:95% 4% 97% 5%/4% 94% 3% 95%;
    padding: 40px;
    border-color: #bfb59d;
}
section h1 {
    font-family:"EduTASbeginner-Regular", sans-serif ;
    font-weight: bold;
    text-transform: uppercase;
}

section h2 {
    font-family:"EduTASbeginner-Regular", sans-serif ;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.2em;
    color: #596e79;
    padding: 10px;
}

#listvauban {
    
    
    font-family: 'Alegreya', serif;
    border: 6px solid #ffffff;
    background-color: #12121023;
    border-radius: 15px;
    margin-right: auto;
    margin-left: auto;
    height: 60px;
    width: 75%;
   
   
    
}


#listvauban ul {
    display:flex;
    justify-content: space-between;
    
}
#listvauban li {
    
    list-style-type: none;
}

#listvauban li a {
    position: relative;
    font-size: 1.3em;
    padding: 5px;
    text-decoration: none;
    text-transform: uppercase;
    color: #596e79;
    transition: color 0.4s linear;
}    
#listvauban li a:hover {
    color:white;
    
    
}
#listvauban li a:hover::after {
    content: '';
    display: block;
    height: 2px;
    background-color: #ffffff;
    animation: linkBar 0.8s ease-in-out forwards;
    
    position: absolute;
    bottom: 0;
}

@keyframes linkBar{
    from{
        width: 0%;
    }
    to{
        width: 100%;
    }
}


#vidV {
    margin-right: 50px;
}
#titlesection {
    padding-top: 20px;
    padding-left: 5px;
    color: #596e79;
}
section i[class="fa-solid fa-circle-up fa-fade"] {
    padding-left: 10px;
    color: #998e74;
}
section video {
    margin-top: 2.5rem;
    margin-left: 10.625rem;
    width: 37.5rem;
    height: 18.75rem;
    border-radius: 20px;
    border: white solid 8px;
   
}
#id_pres {
    text-align: center;
    font-family:"EduTASbeginner-Regular", sans-serif ;
    font-weight: bold;
    text-transform: uppercase;
    color: #596e79;
}

#color-changing-link {
    text-align: center;
    padding: 5px;
    background-color: #bfb59d;
    color: #596e79;
    border-radius: 8px;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}






#my_picture {
    width: 21.313rem;
    height: 16.875rem;
}

#footercontainer {
    width: 100%;
    margin: 0 auto;
    clear: both;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Ajuster au besoin */
    align-items: stretch; /* Assurer que les éléments aient la même hauteur */
}

#imgbrg,  #villefrancheimg {
    width: 17.5rem;
    height: 9.375rem;
    border-radius: 25px;
    border: white solid;
    transition: transform 1s;
}

#imgbrg:hover, .footerimg:hover, #villefrancheimg:hover {
    transform: scale(1.1);
}
#pictures_div ul {
    list-style: none;
}
#pictures_div {
    display: flex;
    flex-wrap: wrap;
    flex: 1; /* Prendre l'espace restant */
    margin: 1rem 0; /* Ajuster au besoin */

}
.footerimg {
    height: 6.25rem;
    width: 9.375rem;
    border-radius: 25px;
    transition: transform 1s;
    border: white solid;
    z-index: 1;
}

.imagegallery{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    
    justify-content: space-between; /* Aligner horizontalement */
}
#pictures_div ul {
    list-style: none;
}
.imagegallery > li {
    position: relative;
}
.imagetext{
    position: absolute;
    width: 100%;
    height:100%;
    top: 0;
    left:0;
    transform: scale(0);
    transition: all 0.2s 0.1s ease-in-out;
    color: white;
    border-radius: 30px;
    font-size: 1.4em;
    font-weight: bold;
    /*center text*/
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Dancing Script', cursive;

}

.imagegallery li:hover .imagetext{
    transform: scale(1);
    z-index: 4;
   
}
.imagegallery li:hover .footerimg {
    transform: scale(2);
    z-index: 4;
    position: relative;
}
#travel {
    margin: 1rem 6.5rem; 
}

footer h1 {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 2.5em;
    font-weight: normal;
    color: #596e79;
    width: 18.75rem;
}
@media screen and (max-width: 1050px){
    #listvauban li a{
        font-size: 0.8em;
    }
}
@media only screen and (min-width: 768px) {
    #pictures_div {
       margin: 0 5rem 0 5rem;
        
    }

    #imgbrg,  #villefrancheimg {
        width: 17.5rem;
        height: 9.375rem;
    }
}

@media screen and (max-width: 1380px) {
    
   #pictures_div{
    margin-left: 2rem ;
    margin-right: 2rem;
   }
   .footerimg{
    width: 130px;
    height: 80px;
   }
   #imgbrg{
    width: 240px;
    height: 130px;
   }
   #villefrancheimg{
    width: 240px;
    height: 130px;
    margin-left: 20px;
   }

}
@media screen and (max-width: 1235px) {
    
    #favourite_trip_div{
        display: none;

    }
    #accomodations_div{
        display: none;
    }
    #pictures_div{
    display: flex;
    align-items: center;
    justify-content: center;
    
    }
 }
@media only screen and (max-width: 900px) {
   #pictures_div{
    display: inline;
    width: 50%;
   }
   #travel{
    margin-left: 40%;
   }
        
   

}
@media only screen and (max-width: 575px){
    #footercontainer{
        display: none;
    }
    #listvauban{
        width: 88%;
        margin-left: 3rem;
        
    }
    #listvauban ul {
        padding-left:10px ;
    }
}
@media screen and (max-width: 910px){
    #idvideovauban{
        margin-left: 10px;
    }

 
   
}
@media screen and (max-width: 910px){
    #idvideovauban{
        width: 25rem;
        height: 11rem;
        margin-left: 0;
    }
    
}
@media screen and (min-width: 1460px){
   #pictures_div{
    display: flex;
    align-items: center;
    justify-content: center;
   }
    
}
@media screen and (min-width: 1900px){
    #footercontainer{
        width: 90%;
    }
    #pictures_div{

     display: flex;
     align-items: center;
     justify-content: center;
     
     height: 300px;
    }
     
 }