/* Définition des polices */
@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Lunasima&family=Raleway:wght@300&family=Roboto+Condensed:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@1,500&display=swap');
@font-face {
    font-family:"Lora-Regular" ;
    src: url(../Fonts/Lora-Regular.ttf);
}
@font-face {
    font-family: "OpenSans-Regular";
    src: url(../Fonts/OpenSans-Regular.ttf);
}
@font-face {
    font-family: "EduTASBeginner-Regular";
    src: url(../Fonts/static/EduTASBeginner-Regular.ttf);
}

/* Définition des styles généraux de la page */
html {
    font-size: 100%;
}

body {
        
    font-weight: 500;
    background-image: url("../Images/beige-comb-painting-texture-background.jpg") ;
    background-repeat: no-repeat;
    
    
    
}

#bloc {
    margin:0 auto 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
    color: black;
    width: 1460px;
    
    margin-left: 2%;
}

/* Styles pour l'en-tête (header) */
header h1 {
    
    font-size: 2.5em;
    font-weight: normal;
    color:#596e79 ;
    margin-top: 50px;
    margin-left: 10px;
    font-family: 'Dancing Script', cursive;
}



#My_caricature {
    width: 200px;
    height: 150px;
    margin-left: 5px;
    border-radius: 2em;
    margin-top: 20px;
}

#My_caricature, header h1 {
    margin-bottom: 0px;
}


.titres_header {
    width: 50%;
    float: left;
    padding: 5px;
    
}
.séparator {
    width: 1500px;
    height: 300px;
    block-size: 50px;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
}


/*.navTitle {
    padding-right: 780px;
}*/
#nav_menu {
    font-family: 'Alegreya', serif;
    border: #ffffff 5px solid;
    border-right: 0px;
    border-left: 0px;
    border-radius: 5px;
    
    width: 100%;
    float: right;
    z-index: 3;
    margin-top: 50px;
    margin-bottom: 20px;
   
    
}

nav li {
    display: inline-block;
    margin-right: 15px;
    list-style-type: none;
    
}
.navTitle {
    padding-right: 750px;
    font-weight: normal;
    
    color:#596e79 ;
    
    font-family: 'Alegreya', serif;
    font-size: 1.5em;
    
}

nav a {
    font-size: 1.3em;
    color: #596e79 ;
    padding-bottom: 3px;
    text-decoration:none ;
    text-transform: uppercase;
    
}

nav a:hover {
    color: transparent;
    background: linear-gradient(to right, #ffffff, rgb(0, 0, 0) ) ; /* Dégradé de la gauche vers la droite */
    background-size: 200% 100%; /* La taille du dégradé est deux fois la largeur du texte */
    animation: LinkAnimation 0.7s ease-in-out forwards;
    background-clip: text; /* Pour prendre en compte la couleur du texte */
    -webkit-background-clip: text;
}

@keyframes LinkAnimation {
    
    to {
      background-position: -100% 0; /* Termine à l'extérieur de l'écran à gauche */
    }
  }

/* Styles pour le déroulement et les onglets */
.déroulement {
    position: relative;
}

.onglets {
    position: absolute;
    z-index: 3;
    
    right: 0;
    
    border-radius: 15px;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease-out; 
}

.déroulement:hover .onglets {
    max-height: 13em;
}

.onglets a {
    text-align: center;
    display: block;
    color: #596e79;
    background-color: #d2c5b5;
    padding: 10px;
    transition: color 0.3s ease-in;
}

.déroulement > a::after {
    content: "∇";
    margin-left: 5px;
    color: #596e79;
    transition: transform 0.3s ease-in;
}

.déroulement:hover > a::after {
    transform: rotateX(180deg);
}

/* Styles pour la bannière */
#image_banner {
    margin-left: auto;
    margin-right: auto;
    width: 1460px;
    height: 200px;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 25px;
    box-shadow:0px 4px 4px #1c1a19 ;
}



#image_container {
    border-radius:5px ;
    position: relative;
    z-index: 1;
}

#text_overlay {
    position: absolute;
    bottom: 0;
    left: 8%;
    right: 0;
    top: 74%;
    background-color: rgba(0, 0, 0, 0.2);
    max-height: 35px;
    max-width: 1300px;
    border-radius: 10px;
}

#bannertext, .lien {
   
    display: inline;
    font-family: "OpenSans-Regular", sans-serif;
}   

#bannertext {
    color: #f1f2f2 ;
    font-weight: 600;
    padding-left: 20px;
    position: relative;
    top: 8px;

    
}

.lien {
    float: right;
    text-decoration: none;
    color: #596e79;
    font-weight: bold;
    background-color: white;
    outline: none;
    border:none;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 0px 4px darkgrey;
    position: relative;
    top: 5px;
    
}

.lien:hover {
    box-shadow: 0 2px darkgrey;
    top: 8px;
}

/* Styles pour la modale */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.248);
}

.modal-content {
    margin: auto;
    padding: 20px;
    background-color: #d2c5b5;
    border: 1px solid #596e79;
    box-shadow: 0px 4px #596e79;
    border-radius: 15px;
    width: 60%;
}

.close {
    color: antiquewhite;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color:black ;
    text-decoration: none;
    cursor: pointer;
}

.red_button {
    height: 15px;
    width: 15px;
    color: #596e79;
}

/* Styles pour la section principale */
section {
    float: left;
    width: 65%;
    border: solid;
    border-width: 5px 3px 3px 5px;
    border-radius:95% 4% 97% 5%/4% 94% 3% 95%;
    padding: 40px;
    border-color: #bfb59d;
    font-family: "OpenSans-Regular", sans-serif;
    
}


/* Styles pour la barre latérale (aside) */
aside {
    width: 25%;
    padding: 20px;
    border: solid;
    border-width: 3px 4px 3px 5px;
    border-radius:95% 4% 92% 5%/4% 95% 6% 95%;
    border-color: #bfb59d ;
    display: block;
    float: right;
    font-family: "OpenSans-Regular", sans-serif;
  
}


